html,
body {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 16px !important;
    width: 100%;
    background-color: #c4c4c4 !important;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #404040;
}

div.logoBackground {
    background: url('../img/logo_background2.PNG') no-repeat;
    background-position: bottom right;
    padding-bottom: 1px;

}

/*Smartphone*/
@media only screen and (max-width: 400px) {
    h1 {
        font-size: 1.2em;
        margin-top: 1em;
    }

    h3 {
        font-size: 1em;
        text-align: center;
    }

    nav ul li a {
        color: #c4c4c4;
    }

    nav ul li a:hover {
        text-decoration: none;
        color: #35979A;
    }

    div div div img#earphones {
        display: none;
    }

    div nav ul {
        text-align: center;
    }

    div.logoBackground {
        background: none;
    }

    form.example button {
        float: center;
        width: 20%;
        padding: 8px;
        background: #35979A;
        color: #c4c4c4;
        font-size: 14px;
        border: 1px solid grey;
        border-left: none;
        cursor: pointer;
    }

    form.example input[type=text] {
        padding: 8px;
        font-size: 14px;
        border: 1px solid grey;
        float: center;
        width: 70%;
        background: #c4c4c4;
    }

    p {
        font-size: 0.7em;
    }

    div div button.btn-sm-fullwidth {
        width: 100%;
    }

    footer {
        width: 100%;
    }

    footer nav ul li img {
        display: none;
    }

    .nav-link {
        font-size: 1em;
        color: #c4c4c4;
    }

    .btn-light {
        background-color: #35979A !important;
        border-color: #35979A !important;
        margin-bottom: 1em;
    }

    .card-body {
        background-color: #404040;
    }

    .card-text {
        color: #c4c4c4;
    }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    h1 {
        font-size: 2em;
    }

    div div div a:hover {
        text-decoration: none;
    }

    footer nav ul li a:hover {
        text-decoration: none;
        color: #35979A;
    }

    nav ul li a:hover {
        text-decoration: none;
        color: #35979A;
    }

    footer div ul li a {
        color: #c4c4c4;
        font-size: 1.2em;
    }

    footer nav ul li a {
        text-decoration: none;
        color: #c4c4c4;
    }

    nav ul form input {
        border-top-left-radius: 0.5em;
        border-bottom-left-radius: 0.5em;
    }

    nav ul form button {
        border-top-right-radius: 0.5em;
        border-bottom-right-radius: 0.5em;
    }

    form.example button {
        float: left;
        width: 20%;
        padding: 8px;
        background: #35979A;
        color: #c4c4c4;
        font-size: 14px;
        border: 1px solid grey;
        border-left: none;
        cursor: pointer;
    }

    form.example button:hover {
        background: #404040;
    }

    form.example::after {
        content: "";
        clear: both;
        display: table;
    }

    form.example input[type=text] {
        padding: 8px;
        font-size: 14px;
        border: 1px solid grey;
        float: left;
        width: 70%;
        background: #c4c4c4;
    }

    #titreSecondBloc {
        text-align: center;
        padding-bottom: 2em;
    }

    #conteneurFlexFirstBloc {
        display: flex;
        margin: 3em 0;
        background-color: #404040;
        border-top: 0.3em solid #35979A;
        border-bottom: 0.3em solid #35979A;
    }

    #textEarphones {
        color: #c4c4c4;
        margin: 1em;
        padding: 1em;
        font-size: small;
    }

    #conteneurFlexSecondBloc {
        margin-bottom: 4em;
    }

    .nav-link {
        font-size: 0.8em;
        color: #c4c4c4;
    }

    .btn-light:hover {
        background-color: #c4c4c4 !important;
        border-color: #c4c4c4 !important;
    }

    .btn-light {
        background-color: #35979A !important;
        border-color: #35979A !important;
    }

    .card-body {
        background-color: #404040;
        min-height: 130px;
    }

    .card-text {
        color: #c4c4c4;
    }

    .card-img-top {
        min-height: 200px;
    }

    .card {
        border: 0.3em solid #404040;
        margin-bottom: 2em;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    img {
        width: 100%;
    }

    footer {
        background-color: #404040;
    }

    footer div ul li a {
        color: #c4c4c4;
        font-size: 1.2em;
    }

    div div p span {
        font-weight: bold;
    }

    nav {
        display: flex;
        justify-content: space-between;
        background-color: #404040;
    }

    form.example input[type=text] {
        padding: 10px;
        font-size: 17px;
        border: 1px solid grey;
        float: left;
        width: 80%;
        background: #c4c4c4;
    }

    form.example button {
        float: left;
        width: 20%;
        padding: 10px;
        background: #35979A;
        color: #c4c4c4;
        font-size: 17px;
        border: 1px solid grey;
        border-left: none;
        cursor: pointer;
    }

    div div div a:hover {
        text-decoration: none;
    }

    form.example button:hover {
        background: #404040;
    }

    form.example::after {
        content: "";
        clear: both;
        display: table;
    }

    footer nav ul li a:hover {
        text-decoration: none;
        color: #35979A;
    }

    footer nav ul li a {
        text-decoration: none;
        color: #c4c4c4;
    }

    nav ul li a:hover {
        text-decoration: none;
        color: #35979A;
    }

    footer nav ul {
        margin: 0 1em;
        padding: 0 1em;
        width: 20%;
    }

    footer {
        border-top: 0.3em solid #35979A;
    }

    footer nav ul li span {
        color: #c4c4c4;
        font-size: 0.6em;
    }

    div div a.aCard {
        text-decoration: none !important;
    }

    nav ul form input {
        border-top-left-radius: 0.5em;
        border-bottom-left-radius: 0.5em;
    }

    nav ul form button {
        border-top-right-radius: 0.5em;
        border-bottom-right-radius: 0.5em;
    }


    .nav-link {
        font-size: 1em;
        color: #c4c4c4;
    }

    .fa.fa-shopping-cart {
        font-size: 1.5em;
    }

    .fa.fa-home {
        font-size: 1.5em;
    }

    .fa.fa-user {
        font-size: 1.5em;
    }

    .card-body {
        background-color: #404040;
        min-height: 130px;
    }

    .card-text {
        color: #c4c4c4;
    }

    .card-img-top {
        min-height: 200px;
    }

    .card {
        width: 300px;
        border: 0.3em solid #404040;
    }

    .btn-light:hover {
        background-color: #c4c4c4 !important;
        border-color: #c4c4c4 !important;
    }

    .btn-light {
        background-color: #35979A !important;
        border-color: #35979A !important;
    }

    .brassardElementFlex {
        /* width: 20%; */
        border: 1px solid #404040 !important;
        /* à supprimer */
        justify-content: space-between;
    }

    .brassardElementFlex:nth-Child(1) {
        flex: 1;
    }

    .brassardElementFlex:nth-Child(2) {
        flex: 2;
    }

    #titreSecondBloc {
        text-align: center;
        padding-bottom: 2em;
    }

    #conteneurFlexFirstBloc {
        display: flex;
        margin: 3em 0;
        background-color: #404040;
        border-top: 0.3em solid #35979A;
        border-bottom: 0.3em solid #35979A;
    }

    #conteneurFlexSecondBloc {
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin-bottom: 4em;
    }

    #textEarphones {
        color: #c4c4c4;
        margin: 2em;
        padding: 2em;
    }

    #conteneurNav {
        display: flex;
        justify-content: space-between;
    }

    #newsletter {
        color: #c4c4c4;
    }

    #newsletter:hover {
        color: #35979A;
    }

    #brassardConteneurFlex {
        display: flex;
    }
}