html,
body {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 16px !important;
    width: 100%;
    background-color: #c4c4c4 !important;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #404040;
}

li{
    list-style-type: none;
}


.paraP {
    height: 40px;
    width: 600px;
    float: right;
}

.imgTNP{
    justify-content: center;
    display: flex;
    height: 20%;
}

.slide{
    justify-content: center;
    margin: auto;
    width:  788px;
    height: 283px;
    overflow: hidden;
}


h2{
    text-align: center;
    margin-top: 40px;
    color: #222222;
}

aside  {
    width: 175px;
    height: 175px;
    margin: 50px;
}
span{
    font-weight: bold;
}

figcaption {
    width: 175px;
    color: #C4C4C4;
    padding: 5px;
    
}

aside div a img{
    border: 4px solid;
    margin: auto;
    border-color: #404040 ;
}


.bloc1{
}

a{
    text-decoration: none;
}

.block{
    border: 4px solid;
    border-color: #404040; 
    border-radius: 4px;
    width: 182px;
    height: 320px;
    background-color: #222222;
    
}

aside{
    margin-bottom: 15em;
    padding-bottom: 15em;
}

/*SlideShow*/

.slideOutside{
    position: relative;
    width: 710px;
    height: 300px;
    margin:  20px auto;
    overflow: hidden;
}

.slideInside{
    display: flex;
    position: absolute;
	top: 0;
	left: 0;
	width: 450px;
	margin: 0;            
	padding: 0;
	
	/*CSS3 keyframes animation*/
	animation-name: AutoSlide;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.carousel-inner{
    padding-top: 1em;
}

@keyframes AutoSlide {
    0% {
		left: 0px; /*1ère image*/
	}
	15% {
		left: 0px; /*idem pour attente*/
	}
	35% {
		left: -850px; /*2ème image*/
	}
	50% {
		left: -850px; /*idem pour attente*/
	}
	70% {
		left: -1600px; /*3ème image*/
	}
	85% {
		left: -1600px; /*idem pour attente*/
	}
	100% {
		left: 0px; /*1ère image*/
	}
}

img {
    width: 100%;
}

footer {
    background-color: #404040;
}

footer div ul li a {
    color: #c4c4c4;
    font-size: 1.2em;
}

div div p span {
    font-weight: bold;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #404040;
}

form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #c4c4c4;
}

form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #35979A;
    color: #c4c4c4;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

div div div a:hover {
    text-decoration: none;
}

form.example button:hover {
    background: #404040;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}

footer nav ul li a:hover {
    text-decoration: none;
    color: #35979A;
}

footer nav ul li a {
    text-decoration: none;
    color: #c4c4c4;
}

nav ul li a:hover {
    text-decoration: none;
    color: #35979A;
}

footer nav ul {
    margin: 0 1em;
    padding: 0 1em;
    width: 20%;
}

footer {
    border-top: 0.3em solid #35979A;
}

footer nav ul li span {
    color: #c4c4c4;
    font-size: 0.6em;
}

div div a.aCard {
    text-decoration: none !important;
}

nav ul form input {
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
}

nav ul form button {
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}


.nav-link {
    font-size: 1em;
    color: #c4c4c4;
}

.fa.fa-shopping-cart {
    font-size: 1.5em;
}

.fa.fa-home {
    font-size: 1.5em;
}

.fa.fa-user {
    font-size: 1.5em;
}

#newsletter {
    color: #c4c4c4;
}

#newsletter:hover {
    color: #35979A;
}