html,
body {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 16px !important;
    width: 100%;
    background-color: #c4c4c4 !important;
}

section{
    background-color: #1E1C1D;
    height: 45em;
    opacity: 80%;
    color: #DCDCDC;
    margin: 2em;
}

section div p{
    width: 400px;
    position: relative;
    left: 400px;
    bottom: 100px
}

section p{
    margin-left: 10em;
}

p{
    width: 800px;
}


img {
    width: 100%;
} 

section img{
    margin: 5em 0 0 5em;
    width: 20%;
}

footer {
    background-color: #404040;
}

footer div ul li a {
    color: #c4c4c4;
    font-size: 1.2em;
}

div div p span {
    font-weight: bold;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #404040;
}

form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #c4c4c4;
}

form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #35979A;
    color: #c4c4c4;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

div div div a:hover {
    text-decoration: none;
}

form.example button:hover {
    background: #404040;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}

footer nav ul li a:hover {
    text-decoration: none;
    color: #35979A;
}

footer nav ul li a {
    text-decoration: none;
    color: #c4c4c4;
}

nav ul li a:hover {
    text-decoration: none;
    color: #35979A;
}

footer nav ul {
    margin: 0 1em;
    padding: 0 1em;
    width: 20%;
}

footer {
    border-top: 0.3em solid #35979A;
}

footer nav ul li span {
    color: #c4c4c4;
    font-size: 0.6em;
}

div div a.aCard {
    text-decoration: none !important;
}

nav ul form input {
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
}

nav ul form button {
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

.prem_phrase{
    margin-left: 10em;
}

.nav-link {
    font-size: 1em;
    color: #c4c4c4;
}

.fa.fa-shopping-cart {
    font-size: 1.5em;
}

.fa.fa-home {
    font-size: 1.5em;
}

.fa.fa-user {
    font-size: 1.5em;
}

#newsletter {
    color: #c4c4c4;
}

#newsletter:hover {
    color: #35979A;
}